{% extends "layout.html" %}
{% block content %}
<h3>Lisää sali</h3>
<div class="col-4">
 <form action="add_gym" method="POST">
  <div class="form-group">
   <label for="inputGymName">Salin nimi</label>
   <input type="text" id="inputGymName" class="form-control" name="gym_name" maxlength="30" value="{{ request.form["gym_name"] }}">
  </div>
  <div class="form-group">
   <label for="inputGymAddress">Salin osoite</label>
   <input type="text" id="inputGymAddress" class="form-control" name="address" maxlength="30" value="{{ request.form["address"] }}">
  </div>
  <button type="submit" class="btn btn-primary">Lisää sali</button>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
 </form>
 <br>
 <a href="/gyms">Takaisin</a>
 <br>
</div>
{% endblock content %}
