{% extends "layout.html" %}
{% block content %}
<h3>Lisää reitti salille {{ gym_info[1] }}</h3>
<div class="col-4">
 <form action="add_boulder" method="POST">
  <div class="form-group">
   <label for="wall_id">Valitse seinä:</label>
   <select class="form-control" id="wall_id" name="wall_id">
    {% for wall in walls %}
    <option value={{ wall[2] }}>{{ wall[0] }}</option>
    {% endfor %}
   </select>
  </div>
  <div class="form-group">
   <label for="color">Valitse väri:</label>
   <select class="form-control" id="color" name="color">
    {% for color in colors %}
    <option value={{ color }}>{{ colors[color] }}</option>
    {% endfor %}
   </select>
  </div>
  <div class="form-group">
   <label for="grade">Valitse grade:</label>
   <select class="form-control" id="grade" name="grade">
    {% for grade in grades %}
    <option value={{ grade }}>{{ grades[grade] }}</option>
    {% endfor %}
   </select>
  </div>
  <button type="submit" class="btn btn-primary">Lisää reitti</button>
  <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
  <input type="hidden" name="used_id" value="{{ session.user_id }}">
 </form>
 <br>
 <a href="/gyms/{{gym_info[0]}}">Takaisin</a>
</div>
{% endblock %}
