{% extends "layout.html" %}
{% block content %}
<h3>Seinän lisäys</h3>

<form action="add_wall" method="POST">
Seinän nimi: <br><input type="text" name="wall_name" maxlength="20" value="{{ request.form["wall_name"] }}">
<p>Lyhyt kuvaus seinälle (esim. tyyppi, sijainti)
<br><input type="text" name="wall_description" maxlength="20" value="{{ request.form["wall_description"] }}">
<input type="submit" value="Lisää seinä">
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">

</form>
<br>
<a href="/gyms">Takaisin</a>
{% endblock %}
