<h3>Reitin tiedot</h3>
<br>
Sijainti: {{ info.gym_name }}
<br>
Seinä: {{ info.wall_name }}
<br>
Vaikeus: {{ grades[info.grade] }}
<br>
Väri: {{ colors[info.color] }}
<br>
Tekijä: {{ info.routesetter }}
<br>
{% if stats.tops == 0 %}
Reittiä ei ole vielä kiivetty.
{% elif stats.tops == 1 %}
Reitti on kiivetty 1 kerran.
{% else %}
Reitti on kiivetty {{ stats.tops }} kertaa.
{% endif %}
<br>
<br>
{% if status.topped %}
Olet kiivennyt tämän reitin. Hienoa!
<br>
{% elif status.project %}
Et ole vielä kiivennyt reittiä.
<br>
Reitti on lisätty projekteihisi.
{% else %}
<form action="/boulders/{{ info.boulder_id }}/set_project" method="POST">
 <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
 <input type="submit" value="Merkitse projektiksi">
</form>
<br>
{% endif %}
{% if not status.topped %}
<form action="/boulders/{{ info.boulder_id }}" method="POST">
 <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
 <input type="submit" value="Merkitse kiivetyksi">
</form> 
{% endif %}
<br>
<a href="/gyms/{{ info.gym_id }}/boulders">Muut salin reitit</a>
<br>
<a href="/search">Reittihakuun</a>
