{% macro build_table(boulders, grades, colors) %}
<table class="table">
 <thead>
  <tr>
   <th scope="col">Sijainti</th>
   <th scope="col">Seinä</th>
   <th scope="col">Vaikeus</th>
   <th scope="col">Väri</th>
   <th scope="col">Tekijä</th>
   <th scope="col">Tiedot</th>
  </tr>
 </thead>
 <tbody>
{% for boulder in boulders %}
  <tr>
   <td>{{ boulder.gym_name }}</td>
   <td>{{ boulder.wall_name }}</td>
   <td>{{ grades[boulder.grade] }}</td>
   <td>{{ colors[boulder.color] }}</td>
   <td>{{ boulder.routesetter }}</td>
   <td><a href="/boulders/{{ boulder.boulder_id }}">Tiedot</a></td>
  </tr>
{% endfor %}
 </tbody>
</table>
{% endmacro %}
