    {% if page == "index" %}
        {% include "index.html" %}
    {% elif page == "register" %}
        {% include "register.html" %}
    {% elif page == "add_wall" %}
        {% include "add_wall.html" %}
    {% elif page == "add_boulder" %}
        {% include "add_boulder.html" %}
    {% elif page == "boulder_info" %}
        {% include "boulder_info.html" %}
    {% else %}
        {% include "add_gym.html" %}
    {% endif %}
{% block error %}
<div class="col-9 offset-3" id="main">
 <div class="col-4">
  {% for msg in messages %}
  <p style="color:red">{{ msg }}</p>
  {% endfor %}
 </div>
</div>
{% endblock error %}
