{% extends "layout.html" %}
{% block content %}
<h3>{{ gym_info[1] }}</h3>
<div class="col-3">Salin osoite: {{ gym_info[2] }}<br>
Salin omistaja: {{ gym_info[3] }}
</div>
{% if gym_info[4] == session.user_id %}
<div class="col-3">
<a href="/gyms/{{ gym_info[0] }}/add_wall">Lisää seinä</a>
</div>
<br>
{% endif %}
{% if walls|length > 0 %}
<h4>Salin seinät</h4>
<br>
<div class="col-4">
 <table class="table">
  <thead>
   <tr>
    <th scope="col">Nimi</th>
    <th scope="col">Kuvaus</th>
   </tr>
  </thead>
 {% for wall in walls %}
   <tr>
    <td>{{ wall[0] }}</td>
    <td>{{ wall[1] }}</td>
   </tr>
 {% endfor %}
 </table>
</div>
<br>
<div class="col-6">
{% if session.user_role == 2 %}
<a href="/gyms/{{ gym_info[0] }}/add_boulder">Lisää reitti</a>
{% endif %}
{% else %}
Salille ei ole vielä lisätty seiniä.
{% endif %}
<br>
{% if walls | length > 0 %}
<a href="/gyms/{{ gym_info[0] }}/boulders">Näytä salin reitit</a>
{% endif %}
<br>
<a href="/gyms">Kaikki salit</a>
</div>
{% endblock content %}
