{% extends "layout.html" %}
{% block content %}
<h2>{{ gym_info[1] }}</h2>
<p>Salin osoite: {{ gym_info[2] }}<br>
Salin omistaja: {{ gym_info[3] }}<br>
{% if gym_info[4] == session.user_id %}
<a href="/gyms/{{ gym_info[0] }}/add_wall">Lisää seinä</a>
<br>
{% endif %}
{% if walls|length > 0 %}
<h4>Salin seinät</h4>
<br>
<table class="table">
 <thead>
  <tr>
   <th scope="col">Nimi</th>
   <th scope="col">Kuvaus</th>
  </tr>
 </thead>
{% for wall in walls %}
  <tr>
   <td>{{ wall[0] }}</td>
   <td>{{ wall[1] }}</td>
  </tr>
{% endfor %}
</table>
<br>
{% if session.user_role == 2 %}
<a href="/gyms/{{ gym_info[0] }}/add_boulder">Lisää reitti</a>
{% endif %}
{% else %}
<p>Salille ei ole vielä lisätty seiniä.
{% endif %}
<br>
<a href="/gyms/{{ gym_info[0] }}/boulders">Näytä salin reitit</a>
<br>
<a href="/gyms">Kaikki salit</a>
{% endblock content %}
