{% extends "layout.html" %}
{% block content %}
<h3>Salit</h3>
<br>
<div class="col-4">
 <div class="list-group">
 {% for gym in gyms %}
 <a href="/gyms/{{ gym.id }}" class="list-group-item list-group-item-action">{{ gym.name }}</a>
 {% endfor %}
 </div>
</div>
<br>
{% if session.user_role == 2 %}
<h4>Reitintekijän toiminnot</h4>
<div class="col-4">
 <div class="list-group">
 <a href="/add_gym" class="list-group-item list-group-item-action">Lisää uusi sali</a>
 </div>
</div>
{% endif %}
<br>
{% endblock %}
