{% extends "layout.html" %}
{% block content %}
{% from "build_table.html" import build_table %}
<h3>Profiili</h3>
{% if tops | length == 0 %}
Et ole vielä merkinnyt yhtään reittiä kiivetyksi.
{% else %}
<div class="col-3 offset-8 border text-center">
 <h4>Korkein kiivetty vaikeus:</h4>
 <br>
 <h4>{{ grades[max_grade] }}</h4>
</div>
<h4>Kiivetyt reitit:</h4>
<br>
{{ build_table(tops, grades, colors) }}
<br>
<br>
{% endif %}
{% if projects | length == 0 %}
Sinulla ei tällä hetkellä ole projekteja.
{% else %}
<h4>Projektit:</h4>
{{ build_table(projects, grades, colors) }}
{% endif %}
<br> 
{% endblock %}
