{% extends "layout.html" %}
{% block content %}
{% from "build_table.html" import build_table %}
<h3>Profiili</h3>
{% if tops | length == 0 %}
<div class="col-4">
 Et ole vielä merkinnyt yhtään reittiä kiivetyksi.
</div>
{% else %}
<div class="col-3 offset-8 border text-center">
 <h4>Korkein kiivetty vaikeus:</h4>
 <br>
 <h2>{{ grades[max_grade] }}</h2>
</div>
<div class="col-md-4">
<h4>Kiivetyt reitit:</h4>
</div>
{{ build_table(tops, grades, colors) }}
<br>
<br>
{% endif %}
{% if projects | length == 0 %}
<div class="col-4">
 Sinulla ei tällä hetkellä ole projekteja.
</div>
{% else %}
<br>
<div class="col-md-4">
<h4>Projektit:</h4>
</div>
{{ build_table(projects, grades, colors) }}
{% endif %}
<br> 
{% endblock %}
